
.overflow-section__textbox{
    border: 1px solid black;
    width: 25%;
    height: 200px;
    padding: 1%;
}


/* OVERFLOW DEMO */


.box-2{
    /* Code Here */
}

.box-3{
    /* Code Here */
}

.box-4{
    /* Code Here */    
}

.box-5{
    /* Code Here */
}

.box-6{
    /* Code Here */
}


/* BUTTON HOVER DEMO */


.button-1:hover{
    /* Code Here */
}

.button-2{
    /* Code Here */
}


.button-2:hover{
    /* Code Here */
}

.mchammer-button-div:hover{
    /* Code here */
}