
.overflow-section__textbox{
    border: 1px solid black;
    width: 25%;
    height: 200px;
    padding: 1%;
}


/* OVERFLOW DEMO */


.box-2{
    overflow: hidden;
}

.box-3{
    overflow: scroll;
}

.box-4{
    overflow-x: hidden;
    overflow-y: scroll;
}

.box-5{
    overflow-x: scroll;
    overflow-y: hidden;
}

.box-6{
    overflow: auto;
}


/* BUTTON HOVER DEMO */


.button-1:hover{
    background-color: purple;
    color: white;
}

.button-2{
    /* Code Here */
}


.button-2:hover{
    width: 150px;
    height: 100px;
    background-color: purple;
    transform: rotate(180deg);
    /* transition-duration: 3s; */
    transition: width 2s, height 2s, background-color 2s, transform 4s;
}

.mchammer-button-div:hover{
    transform: translateX(250px);
}
